<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Thay đổi mật khẩu tài khoản {username}</title>
</head>
<body>
    <h4>Xin chào, <strong>{client_name}</strong> </h4>
    <p>
        Có vẻ như bạn hoặc ai đó đang đã thực hiện yêu cầu đổi mật khẩu đổi mật khẩu cho tài khoản {username} trên trang: <a href="{domain}">BestMall</a>
        <br />
        Để đổi mật khẩu cho tài khoản vui lòng nhấn vào đường link
        <br />
        <br />
        <a href="{domain}/tai-khoan/doi-mat-khau/{change_password_url}"><strong>tại đây</strong></strong></a>
        <br />
        <br />
        hoặc copy đường link bên dưới vào trình duyệt:
        <br />
        {domain}/tai-khoan/doi-mat-khau/{change_password_url}
        <br />
        <br />

        Nếu bạn không thực hiện sự thay đổi này, vui lòng liên hệ bộ phận CSKH để được tư vấn.
        <br />
        Xin cảm ơn.
    </p>
</body>
</html>